@import "foundation";

body {
  background: #e2ebf3;
}
.container {
  width: 400px;
  margin: 30px auto;
  text-align: center;

}
.form {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

